<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <headermessage>
            <message>
                <text></text>
                <show_message>0</show_message>
            </message>
        </headermessage>
    </default>
</config>
