<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_load_after">
        <observer name="learning_load_after_product" instance="Learning\ExtensionAttribute\Observer\LoadProductObserver"/>
    </event>
    <event name="catalog_product_save_after">
        <observer name="learning_save_after_product" instance="Learning\ExtensionAttribute\Observer\SaveProductObserver"/>
    </event>
</config>
